@page
@model SuperheroSocialClub.Pages.BrowseModel
@{
}

<div class="row">
    @foreach (var hero in Model.Superheroes)

    {
        <div class="col-md-4 pt-3 d-flex align-item-stretch">
            <div class="card" style="width: 18rem;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                            <img class="img-responsive" style="height:auto;width:100%;" src="Heroes/@{@hero.Id}.jpg" alt="Hero Image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                                @{
                                    if (hero.Name == null)
                                    {
                                        <h4 class="card-title">@hero.RealName</h4>
                                    }
                                    else
                                    {
                                        <h4 class="card-title">@hero.Name</h4>
                                    }
                                }
                            @{
                                if (hero.Name != null)
                                {
                                    <h6 class="card-title">@hero.RealName</h6>
                                }
                            }
                            <hr />
                            @{
                                if (hero.Superpowers.Count > 0)
                                {
                                    <p class="card-text">Superpowers</p>
                                    <ul>
                                        @foreach (string power in hero.Superpowers)
                                        {
                                            <li class="card-subtitle mb-2">@power</li>
                                        }
                                    </ul>
                                    <hr />
                                }

                            }


                            @{
                                if (hero.Region.City != null)
                                {
                                    if (hero.Region.Country != null)
                                    {
                                        <h8 class="card-subtitle mb-2 text-muted">@hero.Region.City, @hero.Region.Country</h8>
                                    }
                                    else
                                    {
                                        <h8 class="card-subtitle mb-2 text-muted">@hero.Region.City</h8>
                                    }
                                }
                                else if (hero.Region.Country != null)
                                {
                                    <h8 class="card-subtitle mb-2 text-muted">@hero.Region.Country</h8>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
