@page
@model SuperheroSocialClub.Pages.ProfileModel
@{
}

<div class="row">
        <div class="col-md-4 pt-3 d-flex align-item-stretch mx-auto">
            <div class="card" style="width: 18rem;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                            <img class="img-responsive" style="height:auto;width:100%;" src="Heroes/@{@Model.SuperHero.Id}.jpg" alt="Hero Image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                                @{
                                    if (Model.SuperHero.Name == null)
                                    {
                                        <h4 class="card-title">@Model.SuperHero.RealName</h4>
                                    }
                                    else
                                    {
                                        <h4 class="card-title">@Model.SuperHero.Name</h4>
                                    }
                                }
                            @{
                                if (Model.SuperHero.Name != null)
                                {
                                    <h6 class="card-title">@Model.SuperHero.RealName</h6>
                                }
                            }
                            <hr />
                            @{
                                if (Model.SuperHero.Superpowers.Count > 0)
                                {
                                    <p class="card-text">Superpowers</p>
                                    <ul>
                                        @foreach (string power in Model.SuperHero.Superpowers)
                                        {
                                            <li class="card-subtitle mb-2">@power</li>
                                        }
                                    </ul>
                                    <hr />
                                }

                            }


                            @{
                                if (Model.SuperHero.Region.City != null)
                                {
                                    if (Model.SuperHero.Region.Country != null)
                                    {
                                        <h8 class="card-subtitle mb-2 text-muted">@Model.SuperHero.Region.City, @Model.SuperHero.Region.Country</h8>
                                    }
                                    else
                                    {
                                        <h8 class="card-subtitle mb-2 text-muted">@Model.SuperHero.Region.City</h8>
                                    }
                                }
                                else if (Model.SuperHero.Region.Country != null)
                                {
                                    <h8 class="card-subtitle mb-2 text-muted">@Model.SuperHero.Region.Country</h8>
                                }
                            }
                        </div>
                        <div>
                            <button class="btn btn-primary" asp-page="Profile" asp-page-handler="Edit">Edit</button>
                            <button class="btn btn-success" type="submit" asp-page="/Profile" asp-page-handler="Save">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
