@page
@model SuperheroSocialClub.Pages.ProfileModel
@{
}

<div class="row">
        <div class="col-md-12 d-flex mx-auto">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                            <img class="img-responsive" style="height:auto;width:100%;" src="Heroes/@{@Model.Superhero.Id}.jpg" alt="Model.Hero.Image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                                @{
                                    if (Model.Superhero.Name == null)
                                    {
                                        <h4 class="card-title">@Model.Superhero.RealName</h4>
                                    }
                                    else
                                    {
                                        <h4 class="card-title">@Model.Superhero.Name</h4>
                                    }
                                }
                            @{
                                if (Model.Superhero.Name != null)
                                {
                                    <h6 class="card-title">@Model.Superhero.RealName</h6>
                                }
                            }
                            <hr />
                            @{
                                if (Model.Superhero.Superpowers.Count > 0)
                                {
                                    <p class="card-text">Superpowers</p>
                                    <ul>
                                        @foreach (string power in Model.Superhero.Superpowers)
                                        {
                                            <li class="card-subtitle mb-2">@power</li>
                                        }
                                    </ul>
                                    <hr />
                                }

                            }


                            @{
                                if (Model.Superhero.Region.City != null)
                                {
                                    if (Model.Superhero.Region.Country != null)
                                    {
                                        <h8 class="card-subtitle mb-2 text-muted">@Model.Superhero.Region.City, @Model.Superhero.Region.Country</h8>
                                    }
                                    else
                                    {
                                        <h8 class="card-subtitle mb-2 text-muted">@Model.Superhero.Region.City</h8>
                                    }
                                }
                                else if (Model.Superhero.Region.Country != null)
                                {
                                    <h8 class="card-subtitle mb-2 text-muted">@Model.Superhero.Region.Country</h8>
                                }
                            }
                        </div>
                        <a class="btn btn-primary" asp-page="Edit">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
</div>
